@font-face {
  font-family: "helveticaneue-UltraLight";
  src: url("../fonts/helveticaneue/helveticaneue-UltraLight.eot");
  src: url("../fonts/helveticaneue/helveticaneue-UltraLight.eot?#iefix") format("embedded-opentype"), url("../fonts/helveticaneue/helveticaneue-UltraLight.woff") format("woff"), url("../fonts/helveticaneue/helveticaneue-UltraLight.ttf") format("truetype"), url("../fonts/helveticaneue/helveticaneue-UltraLight.svg") format("svg"); }

@font-face {
  font-family: "helveticaneue-UltraLightItalic";
  src: url("../fonts/helveticaneue/helveticaneue-UltraLightItalic.eot");
  src: url("../fonts/helveticaneue/helveticaneue-UltraLightItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/helveticaneue/helveticaneue-UltraLightItalic.woff") format("woff"), url("../fonts/helveticaneue/helveticaneue-UltraLightItalic.ttf") format("truetype"), url("../fonts/helveticaneue/helveticaneue-UltraLightItalic.svg") format("svg"); }

@font-face {
  font-family: "helveticaneue-Thin";
  src: url("../fonts/helveticaneue/helveticaneue-Thin.eot");
  src: url("../fonts/helveticaneue/helveticaneue-Thin.eot?#iefix") format("embedded-opentype"), url("../fonts/helveticaneue/helveticaneue-Thin.woff") format("woff"), url("../fonts/helveticaneue/helveticaneue-Thin.ttf") format("truetype"), url("../fonts/helveticaneue/helveticaneue-Thin.svg") format("svg"); }

@font-face {
  font-family: "helveticaneue-ThinItalic";
  src: url("../fonts/helveticaneue/helveticaneue-ThinItalic.eot");
  src: url("../fonts/helveticaneue/helveticaneue-ThinItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/helveticaneue/helveticaneue-ThinItalic.woff") format("woff"), url("../fonts/helveticaneue/helveticaneue-ThinItalic.ttf") format("truetype"), url("../fonts/helveticaneue/helveticaneue-ThinItalic.svg") format("svg"); }

@font-face {
  font-family: "helveticaneue-Light";
  src: url("../fonts/helveticaneue/helveticaneue-Light.eot");
  src: url("../fonts/helveticaneue/helveticaneue-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/helveticaneue/helveticaneue-Light.woff") format("woff"), url("../fonts/helveticaneue/helveticaneue-Light.ttf") format("truetype"), url("../fonts/helveticaneue/helveticaneue-Light.svg") format("svg"); }

@font-face {
  font-family: "helveticaneue-LightItalic";
  src: url("../fonts/helveticaneue/helveticaneue-LightItalic.eot");
  src: url("../fonts/helveticaneue/helveticaneue-LightItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/helveticaneue/helveticaneue-LightItalic.woff") format("woff"), url("../fonts/helveticaneue/helveticaneue-LightItalic.ttf") format("truetype"), url("../fonts/helveticaneue/helveticaneue-LightItalic.svg") format("svg"); }

@font-face {
  font-family: "helveticaneue-Italic";
  src: url("../fonts/helveticaneue/helveticaneue-Italic.eot");
  src: url("../fonts/helveticaneue/helveticaneue-Italic.eot?#iefix") format("embedded-opentype"), url("../fonts/helveticaneue/helveticaneue-Italic.woff") format("woff"), url("../fonts/helveticaneue/helveticaneue-Italic.ttf") format("truetype"), url("../fonts/helveticaneue/helveticaneue-Italic.svg") format("svg"); }

@font-face {
  font-family: "helveticaneue-Medium";
  src: url("../fonts/helveticaneue/helveticaneue-Medium.eot");
  src: url("../fonts/helveticaneue/helveticaneue-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/helveticaneue/helveticaneue-Medium.woff") format("woff"), url("../fonts/helveticaneue/helveticaneue-Medium.ttf") format("truetype"), url("../fonts/helveticaneue/helveticaneue-Medium.svg") format("svg"); }

@font-face {
  font-family: "helveticaneue-Condensed";
  src: url("../fonts/helveticaneue/helveticaneue-Condensed.eot");
  src: url("../fonts/helveticaneue/helveticaneue-Condensed.eot?#iefix") format("embedded-opentype"), url("../fonts/helveticaneue/helveticaneue-Condensed.woff") format("woff"), url("../fonts/helveticaneue/helveticaneue-Condensed.ttf") format("truetype"), url("../fonts/helveticaneue/helveticaneue-Condensed.svg") format("svg"); }

@font-face {
  font-family: "helveticaneue-BoldCond";
  src: url("../fonts/helveticaneue/helveticaneue-BoldCond.eot");
  src: url("../fonts/helveticaneue/helveticaneue-BoldCond.eot?#iefix") format("embedded-opentype"), url("../fonts/helveticaneue/helveticaneue-BoldCond.woff") format("woff"), url("../fonts/helveticaneue/helveticaneue-BoldCond.ttf") format("truetype"), url("../fonts/helveticaneue/helveticaneue-BoldCond.svg") format("svg"); }

@font-face {
  font-family: "helveticaneue-BoldItalic";
  src: url("../fonts/helveticaneue/helveticaneue-BoldItalic.eot");
  src: url("../fonts/helveticaneue/helveticaneue-BoldItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/helveticaneue/helveticaneue-BoldItalic.woff") format("woff"), url("../fonts/helveticaneue/helveticaneue-BoldItalic.ttf") format("truetype"), url("../fonts/helveticaneue/helveticaneue-BoldItalic.svg") format("svg"); }

@font-face {
  font-family: "helveticaneue-Heavy";
  src: url("../fonts/helveticaneue/helveticaneue-Heavy.eot");
  src: url("../fonts/helveticaneue/helveticaneue-Heavy.eot?#iefix") format("embedded-opentype"), url("../fonts/helveticaneue/helveticaneue-Heavy.woff") format("woff"), url("../fonts/helveticaneue/helveticaneue-Heavy.ttf") format("truetype"), url("../fonts/helveticaneue/helveticaneue-Heavy.svg") format("svg"); }

@font-face {
  font-family: "helveticaneue-HeavyItalic";
  src: url("../fonts/helveticaneue/helveticaneue-HeavyItalic.eot");
  src: url("../fonts/helveticaneue/helveticaneue-HeavyItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/helveticaneue/helveticaneue-HeavyItalic.woff") format("woff"), url("../fonts/helveticaneue/helveticaneue-HeavyItalic.ttf") format("truetype"), url("../fonts/helveticaneue/helveticaneue-HeavyItalic.svg") format("svg"); }

@font-face {
  font-family: "helveticaneue-MediumItalic";
  src: url("../fonts/helveticaneue/helveticaneue-MediumItalic.eot");
  src: url("../fonts/helveticaneue/helveticaneue-MediumItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/helveticaneue/helveticaneue-MediumItalic.woff") format("woff"), url("../fonts/helveticaneue/helveticaneue-MediumItalic.ttf") format("truetype"), url("../fonts/helveticaneue/helveticaneue-MediumItalic.svg") format("svg"); }

@font-face {
  font-family: "helveticaneue-Black";
  src: url("../fonts/helveticaneue/helveticaneue-Black.eot");
  src: url("../fonts/helveticaneue/helveticaneue-Black.eot?#iefix") format("embedded-opentype"), url("../fonts/helveticaneue/helveticaneue-Black.woff") format("woff"), url("../fonts/helveticaneue/helveticaneue-Black.ttf") format("truetype"), url("../fonts/helveticaneue/helveticaneue-Black.svg") format("svg"); }

@font-face {
  font-family: "helveticaneue-BlackCond";
  src: url("../fonts/helveticaneue/helveticaneue-BlackCond.eot");
  src: url("../fonts/helveticaneue/helveticaneue-BlackCond.eot?#iefix") format("embedded-opentype"), url("../fonts/helveticaneue/helveticaneue-BlackCond.woff") format("woff"), url("../fonts/helveticaneue/helveticaneue-BlackCond.ttf") format("truetype"), url("../fonts/helveticaneue/helveticaneue-BlackCond.svg") format("svg"); }

@font-face {
  font-family: "helveticaneue-BlackItalic";
  src: url("../fonts/helveticaneue/helveticaneue-BlackItalic.eot");
  src: url("../fonts/helveticaneue/helveticaneue-BlackItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/helveticaneue/helveticaneue-BlackItalic.woff") format("woff"), url("../fonts/helveticaneue/helveticaneue-BlackItalic.ttf") format("truetype"), url("../fonts/helveticaneue/helveticaneue-BlackItalic.svg") format("svg"); }


@font-face {
  font-family: "helveticaneue";
  font-weight: normal;
  src: url("../fonts/helveticaneue/helveticaneue-Regular.eot");
  src: url("../fonts/helveticaneue/helveticaneue-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/helveticaneue/helveticaneue-Regular.woff") format("woff"), url("../fonts/helveticaneue/helveticaneue-Regular.ttf") format("truetype"), url("../fonts/helveticaneue/helveticaneue-Regular.svg") format("svg"); }

@font-face {
  font-family: "helveticaneue";
  font-weight: bold;
  src: url("../fonts/helveticaneue/helveticaneue-Bold.eot");
  src: url("../fonts/helveticaneue/helveticaneue-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/helveticaneue/helveticaneue-Bold.woff") format("woff"), url("../fonts/helveticaneue/helveticaneue-Bold.ttf") format("truetype"), url("../fonts/helveticaneue/helveticaneue-Bold.svg") format("svg"); }
