
html {
	overflow-x: hidden;
} 
body {
	overflow: hidden;
	position: relative;
} 

a:not(.no-effect) {
  color: #000;
  @include scut-padding(rem-calc(7) n);
  background-image: linear-gradient(180deg,transparent calc(100% - 2px),#e80200 0);
  background-size: 0 100%;
  background-repeat: no-repeat;
  text-decoration: none;
  transition: background-size .4s ease;

	&:hover, &:active, &:focus {
		color: inherit;
    outline: none;
    background-size: 100% 100%;
	}
}

a:hover::after {
    width: 100%;
    //transition: width .3s;
}

p {
	line-height: inherit;
}

*[data-effect] {
	transition: all 1s;
	transform: scale(1) translate3D(0,0px,0);
	opacity: 1;
}

.invisibility-top {
	transform: scale(1) translate3d(0,0px,0);
	opacity: 0;
}
.invisibility-bottom {
	transform: scale(1) translate3d(0,0px,0);
	opacity: 0;
}

.items-loading {
  width: 100%;
  position: relative;
  float: left;
}
.items-loading:after {
  content: '';
  opacity: 0;
  transition: all 0.3s;
  float: left;
  height: 40px;
  width: 100%;
  background-image: url('images/loading.gif');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  top: 50px;
}
.items-loading.show:after {
  opacity: 1;
}