

{{> header }}


{{> leader text="Why a two-handle whipsaw<br>epitomizes balance<br>and cuts like hell" leader-image="Project1.jpg" leader-image-size="big" classes="medium-space"  }}


{{> big-text-section }}


{{> image-section imageName="About1.jpg" }}


{{> content-section text="<p>Whipsaw was founded in 1999 by Dan Harden and Bob Riccomini to bring products to market... Whipsaw is now a staff of 40 and has become one of the most acclaimed design agencies in the world. Over 500 Whipsaw-designed products have shipped to market in many diverse industries for startups to large international corporations.</p>
<p>Whipsaw is known for creating smart, unique and intuitive solutions that profoundly connect with end users on both a rational and emotional level. We’re also known for consistently creating popular products that dominate their market niche while making our clients very successful. Let's work together.</p><a href='#'><strong>See our work</strong></a><br><a href='#'><strong>Meet our clients</strong></a>" }}



{{#content "column-left" }}

	{{> image imageName="About2.jpg" }}

{{/content }}

{{#content "column-right" }}

	{{> content-group text="<h3>Industrial Design</h3>
	<p>Design Strategy, Research & Analysis<br>
	Product Aesthetics<br>
	Human Factors and Experience Design<br>
	Product Function, Invention & Feature<br>
	Material and Detail specification<br></p>

	<h3>Mechanical Engineering</h3>
	<p>Enclosure and Mechanism engineering<br>
	Structural and thermal analysis<br>
	Design for manufacturability<br>
	Validation testing<br>
	Tooling management<br></p>

	<h3>Branding & User Experience</h3>
	<p>Brand Strategy<br>
	Graphic Design<br>
	User Interface<br>
	Corporate Identity<br>
	Packaging<br></p>"}}

{{/content }}

{{> two-column-section }}


{{> image-section imageName="Project1.jpg" }}


{{#content "column-left" }}

	{{> content-group title="We aspire to excellence" text="<p>Winning over 260 Design Awards speaks volumes about our intense drive to always create design excellence. We’re also honored to have work placed in the Henry Ford Museum of American Innovation, the Smithsonian Institution Cooper Hewitt Design Museum, the Chicago Athenaeum Museum of Architecture and Design and the Pasadena Museum of California Art.</p><a href='#'><strong>See all awards</strong></a>" }}

{{/content }}

{{#content "column-right" }}

	{{> about-logos }}

{{/content }}

{{> two-column-section }}

{{> big-text-section text="Meet the people behind<br>our trusted expertise" }}

{{> team-member-blocks }}

{{> footer }}