
{{> header }}

<div class="row">
	<div class="columns small-12">
		{{> image }}
	</div>
</div>

<div class="row">
	<div class="columns small-12">
		{{> details category="Google" subtitle="" date="" title="OnHub"}}
	</div>
</div>

<div class="page-builder">

	<div class="row">
		<div class="columns small-12">
			{{> image imageName="Project1.jpg" }}
		</div>
	</div>

	<div class="row">
		<div class="columns small-12">
			{{> two-column-image }}
		</div>
	</div>

	<div class="row">
		<div class="columns small-12">
			{{> image imageName="Project4.jpg" }}
		</div>
	</div>

</div>

{{> small-blocks items=home.news small-blocks-title="true" classes="small-blocks--top-margin" }}

{{> footer }}