
$font-sizes: (
    leader-big:		( xxlg: 100, xlg: 80, lg: 70, md: 55, sm: 45, min: 30 ),
    leader:         ( xxlg: 80, xlg: 70, lg: 60, md: 50, sm: 30, min: 30 ),
    big-title: 		( xxlg: 70, xlg: 60, lg: 50, md: 40, sm: 30, min: 20 ),
    title:          ( xxlg: 50, xlg: 45, lg: 40, md: 35, sm: 30, min: 20 ),
    medium-title:   ( xxlg: 40, xlg: 38, lg: 36, md: 30, sm: 25, min: 22 ),
    small-title:    ( xxlg: 30, xlg: 28, lg: 26, md: 24, sm: 22, min: 22 ),
    text:           ( xxlg: 24, xlg: 24, lg: 24, md: 24, sm: 18, min: 18 ),
    text-inner:     ( xxlg: 24, xlg: 24, lg: 24, md: 24, sm: 18, min: 18 ),
    subtitle:       ( xxlg: 22, xlg: 20, lg: 18, md: 17, sm: 16, min: 18 ),
) !default;