
.about-logos {
	@include section(small);
	@include section-padding(medium, true);
	margin-bottom: 0px;
	padding-left: 15px;
}

.about-logos__item {
	@include grid-col(4);
	@include scut-relative();
	height: 145px;
	max-height: 145px;
	a {
		position: initial;
	}
	@include breakpoint(small only) {
		@include grid-col(6);
	}
	img {
		@include scut-center-transform();
	}
}