
.centered-text {
	@include grid-row();
	@include section(small);
	@include section-padding(xbig, true);

	.content-group {
		padding-left: 0px;
		padding-right: 0px;
		width: 100%;
	}
}

.centered-text__inner {
	@include grid-col(12);
}