
.clients-logos {
	@include section(small);
	@include section-padding(medium, true);
}

.clients-logos__item {
	@include grid-col(3);
	@include grid-col-end();
	@include scut-relative();
	height: 215px;
	max-height: 250px;
	a {
		position: initial;
	}
	@include breakpoint(medium down) {
		@include grid-col(6);
	}
	img {
		@include scut-center-transform();
	}
}