.clients {
	@include section( small );
	@include scut-relative();

	@include breakpoint(small down) {
		@include scut-margin(0);
	}
}

.clients__content {
	@include flex-grid-row();
	@include scut-relative();
	@include section-padding(small, true);
	min-height: 30vw;
}

.clients__title {
	@include grid-col(12);
	@include font-size(leader);
	@include flex-align-self(middle);
	@include scut-margin(rem-calc(25) n rem-calc(40) n);
	float: initial;
	line-height: 1.1em;

	p {
		line-height: 1.1em;
	}

	@include breakpoint(small only) {
		br {
			display: none;
		}
	}
}

.clients__paragraph {
	@include flex-grid-row();
	@include scut-relative();
	@include section-padding(small, true);
}

.clients__text {
	@include grid-col(10);
	@include grid-col-end();
	@include scut-margin(5vw n n n);
	@include font-size(text);
  line-height: 1.36;
}