
.details {
	@include section(small);
	@include section-padding(big, true);
}

.details__column {
	@include grid-col(12);
}

.details__title {
	@include scut-margin(n n 1vw n);
	@include font-size(big-title);
	line-height: 1.1;
	color: color(black);	

	& + .details__text {
		margin-top: rem-calc(30);
	}
}

.details__company {
	font-weight: bold;

	&:after {
		content: " ";
	}
}

.details__subtitle {
	@include scut-margin(n n rem-calc(15) n);
	@include font-size(text);
	display: block;
}

.details__date {
	@include scut-margin(n n rem-calc(15) n);
	@include font-size(text);
	display: block;
}

.details__text {
	@include grid-col(10,0);
	@include grid-col-end();
	@include scut-margin(2vw n n n);
	@include font-size(text-inner);
	line-height: 1.36;

	@include breakpoint(small only) {
		@include grid-col(12,0);
		@include grid-col-end();
		@include scut-margin(rem-calc(30) n n n);
	}
}

.details__info {
	@include grid-col(12,0);
}

.details__button {
	@include grid-col(12,0);
	@include scut-margin(rem-calc(70) n n n);
	h1 {
		@include font-size(title);
		font-weight: bold;
		line-height: 1.1;
		margin: 0px;
		a {
			color: color(black);
		}
	}
}