
.details {
	@include scut-margin(rem-calc(130) n rem-calc(130) n);
	@include grid-col(12);
	padding-left: rem-calc(100) !important;

}

.details__title {
	@include scut-margin(n n rem-calc(30) n);
	font-size: rem-calc(50);
	line-height: 1.1;
	color: color(black);	

	& + .details__text {
		margin-top: rem-calc(30);
	}
}

.details__company {
	font-weight: bold;

	&:after {
		content: " ";
	}
}

.details__subtitle {
	@include scut-margin(n n rem-calc(15) n);
	font-size: rem-calc(28);
	display: block;
}

.details__date {
	@include scut-margin(n n rem-calc(15) n);
	font-size: rem-calc(28);
	display: block;
}

.details__text {
	@include scut-margin(rem-calc(70) 20vw n n);
	font-size: rem-calc(28);
	line-height: 1.36;
}

.details__button {
	@include scut-margin(rem-calc(85) n n n);
	h1 {
		font-size: rem-calc(50);
	  font-weight: bold;
	  line-height: 1.1;
	  margin: 0px;
	  a {
			color: color(black);
	  }
	}
}