
.details {
	@include section(small);
	@include section-padding(medium, true);
}

.details__column {
	@include grid-col(12);
}

.details__title {
	@include scut-margin(n n rem-calc(30) n);
	@include font-size(title);
	line-height: 1.1;
	color: color(black);	

	& + .details__text {
		margin-top: rem-calc(30);
	}
}

.details__company {
	font-weight: bold;

	&:after {
		content: " ";
	}
}

.details__subtitle {
	@include scut-margin(n n rem-calc(15) n);
	@include font-size(text);
	display: block;
}

.details__date {
	@include scut-margin(n n rem-calc(15) n);
	@include font-size(text);
	display: block;
}

.details__text {
	@include scut-margin(rem-calc(70) 20vw n n);
	@include font-size(text);
	line-height: 1.36;
}

.details__button {
	@include scut-margin(rem-calc(85) n n n);
	h1 {
		@include font-size(title);
		font-weight: bold;
		line-height: 1.1;
		margin: 0px;
		a {
			color: color(black);
		}
	}
}