
.footer {
	@include section('none');
	@include section-padding(small, true);
	padding-bottom: 8vw;

	@include breakpoint(medium only) {
		padding-bottom: 14vw;
	}
}

.footer__navigation {
	@include grid-col(6);


	@include breakpoint(xlarge down) {
		@include grid-col(6);
	}
	@include breakpoint(large down) {
		@include grid-col(12);
	}
	@include breakpoint(small down) {
		@include grid-col(12);
	}
}

.footer__menu {
	@include grid-col(4,0);
	@include grid-col-end();

	@include breakpoint(xlarge down) {
		@include grid-col(5,0);
		@include grid-col-end();
	}

	@include breakpoint(large down) {
		@include grid-col(3,0);
		@include grid-col-end();
	}

	@include breakpoint(medium down) {
		@include grid-col(4,0);
		@include grid-col-end();
	}

	@include breakpoint(small down) {
		@include grid-col(6,0);
		@include grid-col-end();
	}


	.menu__item {
		margin-bottom: rem-calc(18);
		padding-left: 0px;
		font-weight: normal;
	}

	.menu__item--active a {
		color: $black;
		border: none;
	}
}

.footer__subscription {
	@include grid-col(5);

	@include breakpoint(xlarge down) {
		@include grid-col(6);
	}
	@include breakpoint(large down) {
		@include grid-col(12);
		@include scut-margin( rem-calc(40) n n n );
	}
	@include breakpoint(small down) {
		@include grid-col(12);
	}
}
