
.hero {
	@include section(small);
	position: relative;
	padding-top: 56%;
	min-height: 300px;
	@include breakpoint(700px down) {
		margin-bottom: 250px;
	}

	.project-info__category {
		text-transform: capitalize;
		a{color: $white;}
	}

	.project-info__title a {
		color: $white;

		&:hover, &:active, &:focus {
			color: color(white);
		}
	}
	
	.project-info__company {
		a {
			color: $white;
		}
	}
}

.hero__column {
	@include grid-col(12);
	@include scut-absolute(0 0 0 0);
}

.hero__container {
	width: 100%;
	height: 100%;
	background-image: url('../images/test.png');
	background-size: cover;
	background-position: center;
}

.hero__container--dark {
	.project-info__category a {
		color: color(black);

		&:hover, &:active, &:focus {
			color: color(black);
		}
	}
	.project-info__title {
		&, a {
			color: color(black);

			&:hover, &:active, &:focus {
				color: color(black);
			}
		}
	}

	.project-info__text {
		color: color(grey);
	}
}

.hero__content {
	@include scut-center-transform(y);
	@include section-padding(medium);
}