
.join-hello {
	@include scut-padding(rem-calc(140) rem-calc(100));
	color: color(white);
	background: color(black);
}

.join-hello__title {
	@include scut-margin(n n rem-calc(30) n);
	font-size: rem-calc(50);
	font-weight: bold;
}

.join-hello__text {
	font-size: rem-calc(28);
	line-height: 1.36;
}