
.join-hello {
	@include section(medium);
}

.join-hello__column {
	@include grid-col(12);
}

.join-hello__content {
	@include scut-padding(6vw rem-calc(100));
	@include section-padding(medium, true);
	background: color(black);
	color: color(white);

	@include breakpoint(small only) {
		@include scut-padding(rem-calc(60) n);
	}
}

.join-hello__title {
	@include scut-margin(n n rem-calc(30) n);
	@include font-size(title);
	font-weight: bold;
}

.join-hello__text {
	@include font-size(text);
	line-height: 1.36;

	 a {
	 	color: color(white);
	 	cursor: pointer;
	 }
}