
.join-hello {
	@include scut-padding(rem-calc(140) rem-calc(100));
	color: color(white);
	background: color(black);
}

.join-hello__title {
	@include scut-margin(n n rem-calc(30) n);
	@include font-size(title);
	font-weight: bold;
}

.join-hello__text {
	@include font-size(text);
	line-height: 1.36;
}