
.leader {
	@include grid-row();
}

.leader__text {
	@include grid-col(12);

	@include scut-margin( 12vw n );
	font-size: rem-calc(80);
	line-height: 1.1em;

	@include breakpoint(xlarge down) {
		font-size: rem-calc(70);
	}
	@include breakpoint(large down) {
		font-size: rem-calc(60);
	}
	@include breakpoint(medium down) {
		@include scut-margin( 20vw n );
		font-size: rem-calc(50);
	}
	@include breakpoint(small only) {
		font-size: rem-calc(40);

		br {
			display: none;
		}
	}
}

.leader__image {
	
}