
.leader {
	@include section( small );
	@include scut-relative();
}

.leader--big-padding {
	@include section-padding(xbig, true);
	.leader__content {
		padding-left: 0px;
		padding-right: 0px;
	}
}
.leader--big-font {
	.leader__text {
		@include font-size(leader-big);
	}
}

.leader__content {
	@include flex-grid-row();
	@include scut-relative();
	@include section-padding(small, true);
	min-height: 30vw;

}

.leader__text {
	@include grid-col(12);
	@include font-size(leader);
	@include flex-align-self(middle);
	@include scut-margin(rem-calc(25) n rem-calc(40) n);
	float: initial;
	line-height: 1.1em;

	p {
		line-height: 1.1em;
	}

	@include breakpoint(small only) {
		br {
			display: none;
		}
	}
}

.leader__image {
	@include grid-col(12);
}