
.leader {
	@include section( small );
	@include scut-relative();
}

.leader__content {
	@include scut-relative();
	@include section-padding(small, true);
	height: 30vw;

	@include breakpoint(medium down) {
		height: 40vw;
	}
	@include breakpoint(small only) {
		height: 50vw;
	}
}

.leader__text {
	@include grid-col(12);

	@include font-size(leader);
	@include scut-relative();
	top: 50%;
	transform: translateY(-50%);
	float: initial;
	line-height: 1.1em;

	@include breakpoint(small only) {
		br {
			display: none;
		}
	}
}

.leader__image {
	@include grid-col(12);
}