.reveal {
	@include grid-col(6);
	@include grid-column-position(center);
	@include breakpoint(large down) {
		@include grid-col(8);
		@include grid-column-position(center); 
	}
	@include breakpoint(medium down) {
		@include grid-column-position(center); 
		@include grid-col(10);
		height: auto;
		overflow: initial;
	}
	@include scut-padding(rem-calc(180) n);
	background: transparent;
	border: none;
	outline: none;
	top: 0!important;
	.reveal__close {
		position: absolute;
		top: 100px;
		right: 0;
		background-color: transparent;
		width: 30px;
		height: 30px;
		cursor: pointer;
	}
}
.reveal-overlay {
	background: $black;
}
body.is-reveal-open {
    overflow: hidden;
    height: 100vh;
}

.wpcf7-response-output {
	display: none !important;
}

.reveal__success {
    max-width: 80%;
    font-size: 1.2rem;
		color: white;

    a {
			color: white;
    	font-size: 1rem;
    	text-decoration: none;
    }
}

.reveal__form--input {
	@include scut-margin(n n rem-calc(40) n);
	input {
		@include font-size(text);	
		@include scut-padding(n 0);
		font-weight: normal;
		background-color: transparent;
		border: none;
		border-bottom: 1px solid rgba(255,255,255,0.5);
		color: $white;

		&:focus {
			border: none;
			border-bottom: 1px solid rgba(255,255,255,0.5);
			background-color: transparent;
			box-shadow: none;
		}

		&.wpcf7-not-valid {
			border-bottom: 1px solid transparentize(#e80200,0.5);
		}
	}

	input ~ .wpcf7-not-valid-tip {
		display: none;
	}

	br {
		display: none;
	}

	.wpcf7-form-control-wrap {
		position: static;
	}

	p:empty { display: none; }
}

.reveal__form--file-label__text {
	@include font-size(text);	
	font-weight: normal;
	color: rgba(255,255,255,0.8);
	cursor: pointer;
}

.reveal__form--file {
	position: relative;
	height: 1px;
	overflow: hidden;

	input {
		height: 50px;
		position: absolute;
		bottom: 0px;
		margin: 0px !important;

		&:focus, &:active {
			outline: none;
		}
	}
}

.reveal__form--button {
	text-align: right;
	@include scut-margin(rem-calc(50) n n n);
	input {
		border-bottom: 1px solid $white;
	}
	button, input {
		@include font-size(text);
		@include scut-padding(0);
		font-weight: normal;
		background: transparent;
		color: $white;
		border: none;
		&:hover {
			background-color: transparent;
		}
	}
}