.awards-form {
	@include section(small);
	@include section-padding(medium, true);
	@include flex-grid-row();
}
.awards-form__logo {
	@include flex-grid-column(4);
	text-align: center;

	@include breakpoint(small down) {
		@include scut-margin(n n rem-calc(22) n);
		@include flex-grid-column(12);
		text-align: center;
	}

	img {
		max-width: 75%;
	}
}

.awards-form__product-wrapper {
	@include flex-grid-column(8);

	@include breakpoint(small down) {
		@include flex-grid-column(12);
	}

	> h3 {
		@include flex-grid-column(12);
		@include scut-margin(n n rem-calc(50) n);
		@include font-size(title);
		line-height: 1.1;
	}
}
.awards-form__product {
	@include flex;
	@include breakpoint(medium down) {
		display: initial;
	}
	justify-content: space-around;
	ul {
		margin: 0;
		list-style: none;
	}
}
.awards-form__product--ul {
	@include flex-grid-column(6);
	@include breakpoint(medium down) {
		@include flex-grid-column(12);
	}
	@include font-size(text);
  line-height: 1.17;
}
.awards-form__product--li {
	@include scut-margin(n n rem-calc(33) n);
}