
.big-block {
	@include grid-row();
}

.big-block__image {
	background-image: url('../images/ThinkingBig.jpg');
	background-size: cover;
	background-position: center; 
	padding-top: 48%;
}

.big-block__details {
	@include section-padding(small, true);
	margin-top: 4vw;

	.project-info__title {
		font-weight: bold;
	}
	@include breakpoint(small only) {
		margin-top: 8vw;
	}

}
