
.big-block {

}

.big-block__image {
	background-image: url('../images/ThinkingBig.jpg');
	background-size: cover;
	background-position: center; 
	padding-top: 48%;
}

.big-block__details {
	@include grid-col(9, 60);
	@include grid-col-end();
	margin-top: 4vw;

	.project-info__title {
		font-weight: bold;
	}

	@include breakpoint(xlarge down) {
		@include grid-col(10,40);
		@include grid-col-end();
	}
	@include breakpoint(large down) {
		@include grid-col(11,20);
		@include grid-col-end();
	}
	@include breakpoint(medium down) {
		@include grid-col(12,0);
		@include grid-col-end();
	}
	@include breakpoint(small only) {
		margin-top: 8vw;
	}
}
