
.big-block {
	@include grid-row();
}

.big-block__image {
	
}

.big-block__details {
	@include section-padding(big, true);
	margin-top: 4vw;

	.project-info__title {
		font-weight: bold;
	}
	@include breakpoint(small only) {
		margin-top: 8vw;
	}

}
