.contact-form {
	@include scut-margin(n n rem-calc(140) n);
	height: 20vw;
	min-height: 200px;
	max-height: 300px;
	&:last-child {
		margin: 0px;
	}
}

.contact-form__title {
	@include font-size(title);
	@include scut-margin(n n rem-calc(30) n);
}

.contact-form__text {
	@include scut-margin(n n rem-calc(25) n);
	@include font-size(text);
	font-weight: bold;
	line-height: 1.25;
	a {
		color: color(black);
	}
}

.contact-form__subtext {
	@include scut-margin(n n rem-calc(40) n);
	@include font-size(text);
	font-weight: bold;
	line-height: 1.25;
	a {
		color: color(black);
	}
}