.contact-studio {
	@include scut-margin(n n rem-calc(140) n);
	height: 20vw;
	min-height: 200px;
	max-height: 300px;
	&:last-child {
		margin: 0px;
	}
}

.contact-studio__title {
	@include font-size(title);
	@include scut-margin(n n rem-calc(30) n);
	&:empty {
		&:after {
			content: ".";
		}
		@include scut-relative(n n n rem-calc(-70000));
	}
}

.contact-studio__city {
	@include scut-margin(n n rem-calc(25) n);
	@include font-size(text);
	font-weight: lighter;
	text-decoration: underline;
	line-height: 1.25;
	a {
		color: #000000 ;
	}
}

.contact-studio__address {
	@include scut-margin(n n rem-calc(22) n);
	@include font-size(text);
	font-weight: bold;
	line-height: 1.25;
	a {
		color: color(black);
	}
}

.contact-studio__number {
	@include font-size(text);
	font-weight: lighter;
	a {
		color: #000000 ;
	}
}