
.content-group {
	@include grid-col(10,0);
	@include section-padding(small,true);
	@include font-size(text);
	line-height: 1.36;

	@include breakpoint(medium down) {
		h1 { font-size: 150% !important; }
		h2 { font-size: 140% !important; }
		h3 { font-size: 130% !important; }
		h4 { font-size: 120% !important; }
		h5 { font-size: 110% !important; }
		h6 { font-size: 105% !important; }
	}

	@include breakpoint(small only) {
		@include grid-col(12,0);
		@include section-padding(small,true);
	}
}

.content-group__title {
	@include font-size(title);
}

.content-group__content {

	h1 {
		@include font-size(title);
	}
	
	h3 {
		@include scut-margin(n n rem-calc(20) n);
		@include font-size(medium-title);
		line-height: 1.36;
		display: inline-block;
	}

	p {
		
	}

	a {
		background-image: linear-gradient(180deg,transparent calc(100% - 1.5px),#e80200 0), linear-gradient(180deg,transparent calc(100% - 1.5px),#000 0);
		background-size: 0 100%, 100% 100%;
		background-repeat: no-repeat;
		text-decoration: none;
		color: color(black);
		transition: background-size .4s ease, color .4s ease;
		padding-bottom: 3px;

		&:hover, &:active, &:focus {
			color: #e80200;
			outline: none;
			background-size: 100% 100%, 100% 100%;
		}
	}
}