
.horizontal-block {
	@include section-padding(big, true);
	@include grid-row();
	@include scut-margin(n n 8vw n);

	&:last-child {
		@include scut-margin(n n rem-calc(0) n);
	}

	@include breakpoint(small only) {
		@include scut-margin(n n rem-calc(60) n);
	}
}

.horizontal-block__image-column {
	@include grid-col(6);
	padding-right: rem-calc(40);

	@include breakpoint(medium down) {
		@include grid-col(12);
	}
}

.horizontal-block__image {
	
}

.horizontal-block__details{
	@include scut-margin(5vh n n n);
	@include grid-col(6);
	@include section-padding(small, true, true);

	@include breakpoint(xlarge down) {
		@include scut-margin(4vh n n n);
	}
	@include breakpoint(large down) {
		@include scut-margin(3vh n n n);
	}
	@include breakpoint(medium down) {
		@include grid-col(12);
	}
	@include breakpoint(small only) {
	}
}

.horizontal-block__title {
	@include scut-margin(n n rem-calc(40) n);
	@include font-size(title);
	line-height: 1.1;
}

.horizontal-block__text {
	@include font-size(text);
	line-height: 1.36;
	text-align: left;
}