
.join-item {
	@include scut-margin(n n rem-calc(140) n);

	&:last-child {
		margin: 0px;
	}
}

.join-item__title {
	font-size: rem-calc(50);
	font-weight: bold;
}

.join-item__text {
	@include scut-margin(n n rem-calc(40) n);
	font-size: rem-calc(28);
	line-height: 1.36;
}

.join-item__link {
	font-size: rem-calc(28);
	font-weight: bold;
	color: color(black);
}