
.menu {
	@include scut-relative(-3px n n n);
	@include font-size(subtitle);
}

.menu__item {
	@include scut-padding(n rem-calc(19));

	@include breakpoint(large down) {
		@include scut-padding(n rem-calc(10));
	}
	
	&:last-child {
		@include scut-padding(n 0 n n);
	}
}

.menu__item a {
	@include scut-padding(n rem-calc(3));
	@include scut-relative();
	color: $black;
	transition: color 0.3s ease;
	&:after {
		@include scut-relative(rem-calc(10) n n n);
	}

	&:hover {
		color: color(primary);
	}
}

.menu__item--active a {
	color: color(primary);
	border-bottom: 2px solid color(primary);
}