.newsetter-form {
	
}

.newsetter-form__form{
}

.newsetter-form__label {
	@include scut-margin( n n rem-calc(18) n );
	@include font-size(subtitle);
	color: $black;
	text-transform: capitalize;

}

.newsetter-form__input-wrapper {
	@include scut-relative();
}

.newsetter-form__input {
	@include scut-padding( rem-calc(9) rem-calc(0) );
	@include font-size(text);
	height: rem-calc(60);

	&, &:focus { 
		border: none;
		@include scut-border(1px solid $black, n n y n);
		box-shadow: none;
		background: $white;
		color: $black;
	}

	@include input-placeholder {
		color: #7d7d7d;
		font-weight: 500;
	}
}

.newsetter-form__button {
	@include scut-absolute(n rem-calc(0) n n);
	@include scut-center-transform(y);
	@include font-size(subtitle);
	text-transform: capitalize;
	cursor: pointer;
}