
.newsetter-form {
	
}

.newsetter-form__form{
}

.newsetter-form__label {
	@include scut-margin( n n rem-calc(18) rem-calc(24) );
	font-size: rem-calc(20);
	color: transparentize($black, 0.6);
	text-transform: uppercase;

	@include breakpoint(xlarge down) {
		font-size: rem-calc(19);
	}
	@include breakpoint(large down) {
		font-size: rem-calc(18);
	}
	@include breakpoint(medium down) {
		font-size: rem-calc(17);
	}
	@include breakpoint(small only) {
		font-size: rem-calc(16);
	}

}

.newsetter-form__input-wrapper {
	@include scut-relative();
}

.newsetter-form__input {
	@include scut-padding( rem-calc(9) rem-calc(24) );
	font-size: rem-calc(28);
	height: rem-calc(60);


	@include breakpoint(xlarge down) {
		font-size: rem-calc(26);
	}
	@include breakpoint(large down) {
		font-size: rem-calc(24);
	}
	@include breakpoint(medium down) {
		font-size: rem-calc(22);
	}
	@include breakpoint(small only) {
		font-size: rem-calc(20);
	}


	&, &:focus { 
		border: none;
		box-shadow: none;
		background: #eaebec;
		color: transparentize($black, 0.3);
	}

	@include input-placeholder {
		color: transparentize($black, 0.3);
	}
}

.newsetter-form__button {
	@include scut-absolute(n rem-calc(24) n n);
	@include scut-center-transform(y);
	font-size: rem-calc(20);
	font-weight: bold;
	text-transform: uppercase;
	cursor: pointer;

	@include breakpoint(xlarge down) {
		font-size: rem-calc(19);
	}
	@include breakpoint(large down) {
		font-size: rem-calc(18);
	}
	@include breakpoint(medium down) {
		font-size: rem-calc(17);
	}
	@include breakpoint(small only) {
		font-size: rem-calc(16);
	}

}