.newsetter-form {
	
}

.newsetter-form__form{
}

.newsetter-form__label {
	@include scut-margin( n n rem-calc(18) n );
	@include font-size(subtitle);
	color: $black;
	text-transform: capitalize;

}

.newsetter-form__input-wrapper {
	@include scut-relative();
}

.newsetter-form__input {
	@include scut-padding( rem-calc(9) rem-calc(0) );
	@include font-size(text);
	height: rem-calc(60);
		
	@include breakpoint(small only) {
		@include scut-margin(n n rem-calc(60) n);
	}

	@include breakpoint(420px down) {
		font-size: rem-calc(16);
	}

	&, &:focus { 
		border: none;
		@include scut-border(1px solid $black, n n y n);
		box-shadow: none;
		background: $white;
		color: $black;
	}

	@include input-placeholder {
		color: #7d7d7d;
		font-weight: 500;
	}
}

.newsetter-form__button {
	@include scut-absolute(rem-calc(20) rem-calc(0) n n);
	@include font-size(subtitle);
	padding: 0px;
	background: none;
	border: none;
	text-transform: capitalize;
	cursor: pointer;
	transition: opacity 0.2s;
		
	@include breakpoint(small only) {
		@include scut-absolute(rem-calc(80) rem-calc(0) n n);
	}

	&:hover {
		opacity: 0.8;
	}
}

.mce_inline_error,
#mce-error-response {
	color: #e80200;
}
.mce_inline_success,
#mce-success-response {
	color: #025500;
}