
.project-info {
	
}

.project-info__category {
	@include font-size(subtitle);
	font-weight: normal;
	text-transform: uppercase;
	margin-bottom: rem-calc(25);
	a {
		color: $black;
	}
}

.project-info__title {
	@include font-size(title);
	margin-bottom: rem-calc(20);
}

.project-info__company {
	font-weight: bold;
	&:after {
		content: ' ';
	}
}

.project-info__text {
	@include font-size(text);
	line-height: 1.36;
}

.project-info__text--big {
	@include font-size(title);
	line-height: 1.16;
}

.project-info--light {
	color: $white;

	.project-info__text {
		color: #9e9f9f;
	}
}