
.project-awards {
	margin: 0px;
	padding: 0px;
	list-style: none;
}

.project-awards__award {
	width: 25px;
	height: 37px;
	display: inline-block;
	margin-right: 17px;
	background: url('../images/AwardIcon.png');
	background-position: center;
	background-repeat: no-repeat;
}