
.project-info {
	
}

.project-info__category {
	@include font-size(subtitle);
	font-weight: normal;
	text-transform: uppercase;
	margin-bottom: rem-calc(25);
	a {
		color: $black;
	}
}

.project-info__title {
	@include font-size(title);
	margin-bottom: rem-calc(20);
}

.project-info__company {
	font-weight: bold;
	&:after {
		content: ' ';
	}
}

.project-info__text {
	@include font-size(text);
	line-height: 1.36;
}

.project-info__text--big {
	@include font-size(title);
	line-height: 1.16;
}

.project-info--desktop {
	@include breakpoint(700px down) {
  	display: none; 
  }
}

.project-info--mobile {
	@include section-padding(small, true);

	display: none;
	position: inherit;
	width: 100%;
	margin-top: rem-calc(40);

	@include breakpoint(700px down) {
  		display: initial;
	}

	br {
		display: none;
	}

	.project-info__category {
		a {
			color: #000!important;
		}
	}

	.project-info__title {
		color: #000!important;
		a {
			color: #000!important;
		}
	}
}

.project-info--light {
	color: $white;

	.project-info__text {
		color: #9e9f9f;
	}
	.project-info__title {
		color: color(white);
	}
}