
.project-details {
	@include scut-margin(rem-calc(80) 0 0 0);
	@include font-size(text);
	padding: 0px;
	list-style: none;
	color: #000000;
}

.project-details__row {
	@include grid-row();
	@include scut-margin(n n rem-calc(15) n);
	
	&:last-child {
		margin: 0px;
	}
}

.project-details__label {
	@include grid-col(2, 0);
	width: 190px;
}

.project-details__value {
	@include grid-col(8, 0);
	@include grid-col-end();
	width: calc( 100% - 190px );
}