
.small-block {
	@include grid-col(4);
	@include scut-margin(n n rem-calc(115) n);
	
	@include breakpoint(small only) {
		@include scut-margin(n n rem-calc(50) n);
		@include grid-col(12);
	}
	&:last-child {
		margin: 0px;
	}
}

.small-block__image {
	background-image: url('../images/ThinkingBig.jpg');
	background-size: cover;
	background-position: center; 
	padding-top: 85%;
}

.small-block__title {
	@include grid-col(12,60);
	@include font-size(text);
	margin-top: rem-calc(50);

	@include breakpoint(xlarge down) {
		@include grid-col(12,40);
	}
	@include breakpoint(large down) {
		@include grid-col(12,20);
	}
	@include breakpoint(medium down) {
		@include grid-col(12,0);
	}
}