
.team-member-block {
	@include breakpoint(large) {
		@include grid-col(4);
		@include grid-col-end();
		@include scut-margin(rem-calc(100) n n n);

		&:nth-child(1),&:nth-child(2),&:nth-child(3) {
			@include scut-margin(0 n n n);
		}
		&:nth-child(3n+1) {
			clear: left;
		}
	}

	@include breakpoint(medium only) {
		@include grid-col(6);
		@include grid-col-end();
		@include scut-margin(rem-calc(100) n n n);

		&:nth-child(1),&:nth-child(2) {
			@include scut-margin(0 n n n);
		}
		&:nth-child(2n+1) {
			clear: left;
		}
	}
	
	@include breakpoint(small only) {
		@include scut-margin(0 n rem-calc(50) n);
		@include grid-col(12);

		&:nth-child(1) {
			@include scut-margin(0 n n n);
		}

		&:last-child {
			margin: 0px;
		}
	}
}

.team-member-block__image {
	@include scut-margin(n n rem-calc(50) n);
	background-image: url('../images/TeamMemberBig.jpg');
	background-size: cover;
	background-position: center; 
	padding-top: 86%;
}

.team-member-block__details {
	@include font-size(small-title);
	@include section-padding(smallx, true);
	line-height: 1.17;
	color: color(black);
}

.team-member-block__name {
	@include scut-margin(n n rem-calc(10) n);
	font-weight: bold;
}

.team-member-block__position {

}