.work-filter {
	@include grid-row();
}
.work-filter__content {
	@include grid-col(12);
	@include scut-margin(rem-calc(80) n);
	outline: none;

	button {
		@include font-size(small-title);
		font-weight: 300;
		padding: 0;
		position: relative;
		.work-filter__current {
			text-decoration: underline;
			color: $black;
		}
		&,&:focus, &:hover {
			background: $white;
			color: #999999;
			outline: none;
		}
	}
}
.work-filter__filter {
	@include section-padding(medium, true);
}
.work-filter__reveal {
	@include grid-row();
	max-width: 1000000px;
	outline: none;
	opacity: 0;
	display: none;
	position: fixed;
	overflow-y: scroll;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	background: $black;
	z-index: 50;
}
.work-filter__reveal_row {
	@include grid-col(12, 0);
	@include scut-padding(rem-calc(100) rem-calc(200));
}
.work-filter__ul {
	@include section-padding(medium, true);
	margin: 0;
	list-style: none;
}
.work-filter__li {
	@include scut-margin(n n rem-calc(15) n);
	a {
		@include font-size(title);
		color: $white;
		font-weight: 300;
		text-transform: capitalize;		
		&:hover {
			color: $white;
		}
	}
	&.work-filter__li--active {
		a {
			color: #999;
		}
	}
}